<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="modules/bootstrapTour/bootstrap-tour.min.css"
    />
    <title>Create your jewelry box</title>
  </head>
  <body>
    <div class="container">
      <div class="wizard" id="tour-wizard">
        <div class="linea"></div>
        <div class="navegacion">
          <div id="item-1" class="nav-item activo">
            <i class="fas fa-expand"></i>
            <p>Size</p>
          </div>
          <div id="item-2" class="nav-item">
            <i class="fas fa-th-list"></i>
            <p>Build</p>
          </div>
          <div id="item-3" class="nav-item">
            <i class="fas fa-cube"></i>
            <p>Preview</p>
          </div>
          <div id="item-4" class="nav-item">
            <i class="fas fa-check"></i>
            <p>Summary</p>
          </div>
        </div>
      </div>
      <div class="formularios">
        <div class="formulario1" id="form-1">
          <div class="div-help">
            <button
              class="btn-help"
              id="tour-btn-help"
              onclick="restartTour(1);"
              title="Make this tour again"
            >
              <i class="fas fa-question"></i>
            </button>
          </div>
          <div>
            <h2>Choose the size of your tray</h2>
          </div>

          <button
            data-toggle="modal"
            data-target="#widthTray"
            class="btn btn-primary btn-tray"
          >
            Width
          </button>
          <button
            data-toggle="modal"
            data-target="#depthTray"
            class="btn btn-primary btn-tray"
          >
            Depth
          </button>
          <button
            data-toggle="modal"
            data-target="#heightTray"
            class="btn btn-primary btn-tray"
          >
            Height
          </button>

          <div class="botones-footer">
            <button
              id="tour-btn-next-form1"
              onclick="canvasManager.crearCanvas(); tabManager.siguienteTab();"
            >
              Next
            </button>
          </div>
        </div>
        <div class="formularios2 hidden" id="form-2">
          <div class="div-help">
            <button
              class="btn-help"
              onclick="restartTour(2);"
              title="Make this tour again"
            >
              <i class="fas fa-question"></i>
            </button>
          </div>
          <div class="container">
            <div class="botones-tamanos" id="tour-btn-tamanios">
              <button onclick="canvasManager.agregarEspacio(4, 4, 50);">
                <img src="icons/glasses.svg" alt="glasses" /> 4x4
              </button>
              <button onclick="canvasManager.agregarEspacio(12, 6, 51);">
                <img src="icons/wristwatch.svg" alt="watch" /> 12x6
              </button>
              <button onclick="canvasManager.agregarEspacio(4, 14, 52);">
                <img src="icons/earrings.svg" alt="earrings" /> 4x14
              </button>
              <button onclick="canvasManager.agregarEspacio(6, 10, 53);">
                <img src="icons/glow.svg" alt="bracelet" /> 6x10
              </button>
              <button onclick="canvasManager.agregarEspacio(8, 3, 54);">
                <img src="icons/necklace.svg" alt="" /> 8x3
              </button>
              <button
                data-toggle="modal"
                data-target="#myModal"
                id="tour-btn-custom"
              >
                Custom
              </button>
              <button onclick="canvasManager.agregarEspacioRing(3, 2, 60);">
                <img src="icons/diamond-ring.svg" alt="ring" /> 3x2Ring
              </button>
              <button data-toggle="modal" data-target="#myModalRing">
                Custom Ring
              </button>
            </div>
            <div>
              <div class="resumen" id="tour-resumen">
                <span>Spaces to fill : </span> <span id="resumen"></span>
              </div>
              <div class="botones-funciones" id="tour-btn-functions">
                <button onclick="canvasManager.rotarEspacio();" title="Rotate">
                  <i class="fas fa-sync-alt"></i>
                </button>
                <button onclick="canvasManager.duplicar();" title="Duplicate">
                  <i class="fas fa-clone"></i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9" id="canvas"></div>
              <div class="col-md-2" id="tour-prices">
                <div id="app-4">
                  <table class="table table-striped">
                    <tbody>
                      <tr v-for="value in preciosBase">
                        <td>{{ value.title }}</td>
                        <td>${{ value.price }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Quantity</th>
                        <th>Box</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="value in espaciosAgrupados">
                        <td>{{ value.count }}</td>
                        <td>{{ getName(value) }}</td>
                        <td>
                          {{ calcularPrecio(value) }}
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Total:</td>
                        <td>{{ calcularTotal() }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="botones-footer" id="tour-btn-next-form2">
              <button class="btn-atras">Back</button>
              <button onclick="canvasManager.resize()">Resize</button>
              <button class="btn-siguiente" data-tipo="renderizar3d">
                Next
              </button>
            </div>
          </div>
        </div>

        <div class="formularios3 hidden" id="form-3">
          <div class="div-help">
            <button
              class="btn-help"
              onclick="restartTour(3);"
              title="Make this tour again"
            >
              <i class="fas fa-question"></i>
            </button>
          </div>
          <div class="botones-colores" id="tour-btn-colores">
            <div
              class="btn-color"
              onclick="renderManager.cambiarColor(0x1c2744);"
            >
              <div class="color navy-blue"></div>
              Navy Blue
            </div>
            <div
              class="btn-color"
              onclick="renderManager.cambiarColor(0x263b39);"
            >
              <div class="color green"></div>
              Green
            </div>
            <div
              class="btn-color"
              onclick="renderManager.cambiarColor(0xa0a394);"
            >
              <div class="color silver"></div>
              Silver
            </div>
            <div
              class="btn-color"
              onclick="renderManager.cambiarColor(0x660e21);"
            >
              <div class="color bungurdy"></div>
              Bungurdy
            </div>
            <div
              class="btn-color"
              onclick="renderManager.cambiarColor(0x2c2f36);"
            >
              <div class="color black"></div>
              Black
            </div>
            <div
              class="btn-color"
              onclick="renderManager.cambiarColor(0xe5e7da);"
            >
              <div class="color pearl"></div>
              Pearl
            </div>
            <div
              class="btn-color"
              onclick="renderManager.cambiarColor(0x352117);"
            >
              <div class="color brown"></div>
              Brown
            </div>
          </div>
          <div id="canvas-3d"></div>
          <div class="botones-footer" id="tour-btn-next-form3">
            <button class="btn-atras">Back</button>
            <a id="downloadTray" onclick="renderManager.getImage();">
              Download
            </a>
            <button class="btn-siguiente" data-tipo="finalizar">Next</button>
          </div>
        </div>

        <div class="formularios4 hidden" id="form-4">
          <h2>Summary</h2>
          <button class="">Back</button>
          <button class="btn-siguiente">Finish</button>
        </div>
      </div>
      <div
        class="modal fade"
        id="myModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Custom</h4>
            </div>
            <div class="modal-body">
              <div class="form-inline">
                <div class="form-group">
                  <label for="ancho">Width</label>
                  <input
                    class="form-control"
                    type="number"
                    name="ancho"
                    id="ancho"
                  />
                </div>
                <div class="form-group">
                  <label for="alto">Depth</label>
                  <input
                    class="form-control"
                    type="number"
                    id="alto"
                    name="alto"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="btn-modal"
                data-dismiss="modal"
                onclick="canvasManager.crearEspacioCustom();"
              >
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="myModalRing"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalRingLabel"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalRingLabel">Custom Ring</h4>
            </div>
            <div class="modal-body">
              <div class="form-inline">
                <div class="form-group">
                  <label for="ancho">Width</label>
                  <input
                    class="form-control"
                    type="number"
                    name="anchoRing"
                    id="anchoRing"
                  />
                </div>
                <div class="form-group">
                  <label for="alto">Depth</label>
                  <input
                    class="form-control"
                    type="number"
                    id="altoRing"
                    name="altoRing"
                  />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="btn-modal"
                data-dismiss="modal"
                onclick="canvasManager.crearEspacioCustomRing();"
              >
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="widthTray" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              Choose Width
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-offset-2 col-xs-2">Width</label>
                  <div class="col-xs-4">
                    <select
                      class="form-control"
                      onchange="canvasManager.saveTamanio('ancho', this.value)"
                    >
                      <option value="" disabled selected
                        >Select your option</option
                      >
                      <option value="15">15</option>
                      <option value="23">23</option>
                      <option value="29">29</option>
                      <option value="36">36</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-offset-2 col-xs-2">Fraction</label>
                  <div class="col-xs-4">
                    <select
                      class="form-control"
                      onchange="canvasManager.saveTamanio('ancho_f', this.value)"
                    >
                      <option value="" disabled selected
                        >Select your option</option
                      >
                      <option value="3/5">3/5</option>
                      <option value="3/5">7/5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn-modal" data-dismiss="modal" aria-label="Close">
                Ok
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="depthTray" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              Choose Depth
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-offset-2 col-xs-2">Depth</label>
                  <div class="col-xs-4">
                    <select
                      class="form-control"
                      onchange="canvasManager.saveTamanio('alto', this.value)"
                    >
                      <option value="" disabled selected
                        >Select your option</option
                      >
                      <option value="17">17</option>
                      <option value="21">21</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-offset-2 col-xs-2">Fraction</label>
                  <div class="col-xs-4">
                    <select
                      class="form-control"
                      onchange="canvasManager.saveTamanio('alto_f', this.value)"
                    >
                      <option value="" disabled selected
                        >Select your option</option
                      >
                      <option value="3/5">3/5</option>
                      <option value="7/5">7/5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn-modal" data-dismiss="modal" aria-label="Close">
                Ok
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="heightTray" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              Choose Height
            </div>
            <div class="modal-body">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-offset-2 col-xs-2">Height</label>
                  <div class="col-xs-4">
                    <select
                      class="form-control"
                      onchange="canvasManager.saveTamanio('height', this.value)"
                    >
                      <option value="" disabled selected
                        >Select your option</option
                      >
                      <option value="3">3</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-offset-2 col-xs-2">Fraction</label>
                  <div class="col-xs-4">
                    <select
                      class="form-control"
                      onchange="canvasManager.saveTamanio('height_f', this.value)"
                    >
                      <option value="" disabled selected
                        >Select your option</option
                      >
                      <option value="3/5">3/5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn-modal" data-dismiss="modal" aria-label="Close">
                Ok
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="https://kit.fontawesome.com/8d49056d24.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="modules/bootstrapTour/bootstrap-tour.min.js"></script>
  <script src="js/core.js"></script>
  <script src="js/OrbitControls.js"></script>
  <script src="js/renderizar.js"></script>
</html>
